opencv-python~=4.10.0.84
matplotlib~=3.9.2
numpy~=2.1.1
requests~=2.32.3
torch~=2.2.2
torchvision~=0.17.2
pillow~=10.4.0
pydub~=0.25.1
scikit-image~=0.24.0
transformers~=4.45.1
scipy~=1.14.1
SQLAlchemy~=2.0.35
protobuf~=5.28.2
fastapi~=0.111.1
pydantic~=2.8.2
moviepy~=1.0.3
minio~=7.2.8
aiohttp~=3.9.5
uvicorn~=0.30.6
starlette~=0.37.2
redis~=5.0.8
